body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #EBEBEB;
  line-height: 1.4em;
  margin: 0;
}

h1,h2,h3 {
  font-family: 'Bree Serif', serif;
  color: #E34D64;
}

h1 {
    font-size: 20px;
    margin-top: 0;
}

h2 {
  font-size: 18px;
  color: #696969;
}

.main-container {
  background-color: #222222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
